# Temporary files
*.DS_Store
*.pyc

# Documentation
docs/_build/*

# Coverage
.coverage
docs/coverage

# PYPI Distribution
dist
MANIFEST
djoauth2.egg-info

# Example application
example/database

# Virtualenv
dev-env

